{% extends "blog/base.html" %}
{% block content %}
   <div class="about">

       <h2> About REVA University<h2></h2>
        <br>
        
        REVA University has been established under the REVA University Act, 2012. The University is located in Bengaluru on a sprawling green campus, spread over 45 acres of land, built with state-of-the-art infrastructure creating an environment conducive to higher learning and research.<br><br>
        
        The founders of REVA University believe in the motto’ Knowledge is Power’. Driven with a philanthropic vision and a missionary zeal, the campus is built to transform students into outstanding citizens. The University prides itself in contributing to every student’s holistic development. The University currently offers 24 Full-time Post Graduate Programs, 5 Part-time Post Graduate programs, 21 Graduate programs, several Certificate/Diploma and Post graduate Diploma programs in Engineering, Architecture, Science & Technology, Commerce, Management Studies, Law, Arts & Humanities and Performing Arts. Above All, the University facilitates Research leading to Doctoral Degrees in all disciplines. The programs offered by REVA University are well planned and designed based on in depth analysis and research with emphasis on knowledge assimilation, practical applications, hands-on training, global and Industrial relevance and their social significance.<br><br>
        <br>
        REVA University  believes in preparing students through the Choice Based Credit System (CBCS) and Continuous Assessment and Grading Pattern (CAGP) of education. The CBCS & CAGP pattern of education has been introduced in all programs to facilitate students to opt for subjects of their choice in addition to the core subjects of the study and prepare them with required skills. It also provides opportunities for students to earn more credits and there by acquire additional Proficiency Certificates and Diplomas.
    
        </div>
{% endblock content %}
